@media (min-width: 360px) {
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }

    header.masthead .masthead-subheading {
        font-size: 1.35rem;
        /*font-style: italic;*/
        font-weight: 200;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }

    header.masthead .masthead-heading {
        font-size: 2rem;
        font-weight: 300;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}





/* Drop down menu */

@media all and (min-width: 360px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}


/* zoom */

.zoom {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* scroll indicator */
.scroll-progress-bar {
    /*margin-bottom: 70px;*/
    width: 0%;
    height: 4px;
    background-color: #003b5c;
    position: fixed;
    left: 0px;
    top: 0%;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #003b5c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #003b5c;
}

/*Clip masthead*/
header.mastheadFor-clip {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/clip_header.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.mastheadFor-clip .mastheadFor-clip-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.mastheadFor-clip .mastheadFor-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.mastheadFor-clip {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }

    header.mastheadFor-clip .mastheadFor-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }

    header.mastheadFor-clip .mastheadFor-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}



/* overlay team photo */

.overlay {
    position: absolute;
    bottom: 10px;
    background-color: white;
    color: #f0f0f0;
    width: 93.5%;
    transition: .5s ease;
    opacity: 0;
    color: #000000;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}


input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

#btnAdd {
    margin: 8px 0;
    padding: 8px;

}

#btnGenerate {}


.callout {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
}

.callout-header {
    padding: 25px 15px;
    background: #555;
    font-size: 30px;
    color: white;
}

.callout-container {
    padding: 15px;
    background-color: #ccc;
    color: black
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.closebtn:hover {
    color: lightgrey;
}

.image {
    /*-webkit-animation: spin 4s ease;
    -moz-animation: spin 4s ease;
    animation: spin 4s ease;*/
}

.image-active {
    -webkit-animation: spin 4s ease;
    -moz-animation: spin 4s ease;
    animation: spin 4s ease;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* font color and font family */
.text-black-75 {
    font-family: Arial, Helvetica, sans-serif;
    color: #767676;
    font-weight: 400;
    letter-spacing: 1px;
}

.text-color-dark {
    color: #003b5c;
}

.text-color-cyan {
    color: #00a499;
}

/*
    button
*/

.btn-cyan {
    color: #fff;
    background-color: #00a499;
    border-color: #00a499;
}

.btn-cyan:hover {
    color: #fff;
    background-color: #7dc3bf;
    border-color: #7dc3bf;
}

.btn-cyan:focus,
.btn-cyan.focus {
    color: #fff;
    background-color: #00a499;
    border-color: #00a499;
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}

.btn-cyan.disabled,
.btn-cyan:disabled {
    color: #fff;
    background-color: #377DFF;
    border-color: #377DFF;
}

.btn-cyan:not(:disabled):not(.disabled):active,
.btn-cyan:not(:disabled):not(.disabled).active,
.show>.btn-cyan.dropdown-toggle {
    color: #fff;
    background-color: #87a3d8;
    border-color: #f3bd01;
}

.btn-cyan:not(:disabled):not(.disabled):active:focus,
.btn-cyan:not(:disabled):not(.disabled).active:focus,
.show>.btn-cyan.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}

.btn-dark {
    color: #fff;
    background-color: #003b5c;
    border-color: #003b5c;
}

.btn-dark:hover {
    color: #fff;
    background-color: #00a499;
    border-color: #00a499;
}

.btn-dark:focus,
.btn-dark.focus {
    color: #fff;
    background-color: #003b5c;
    border-color: #003b5c;
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}

.btn-dark.disabled,
.btn-dark:disabled {
    color: #fff;
    background-color: #377DFF;
    border-color: #377DFF;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #87a3d8;
    border-color: #f3bd01;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}


#chart {
    position: relative;
    max-width: 100%;
    height: 50%;
    top: 25%;
    left: 0;
}


/*
    Error page CSS
*/

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url("../img/404/error.gif");
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}